@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.green-color {
    color: green;
}

.white-color {
    color: #fff;
}

/*BACKGROUND */

#background {
    background-color: #101010;
    height: 100vh;
    width: 100%;
}

/*NAVBAR */

nav h2 {
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 2px;
}


#navbar {
    border-bottom: 1px solid green;
}

#navbar a:hover {
    color: green;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item {
    margin: 0 1em;
}

/* MAIN  */

#main {
    position: absolute;
    top: 42%;
    left: 10%;
    transform: translateY(-50);
}

h4 {
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

h1 {
    color: #fff;
    margin: 20px 0px 20px 0px;
    font-size: 75px;
}

h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}

.form-contact form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.form-contact form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border-radius: 30px;
    outline: none;
}

.form-contact form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: green;
    color: #fff;
    box-shadow: 0px 0px 15px #858585;
    right: 6px;
    top: 6px;
}

/* BACGROUND SOBRE MIM */

.background-sobre {
    background-color: #191919;
    width: 100%;
    padding: 100px 0px;
}

.main-sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1130px;
    margin: 0 auto;
}

.background-sobre img {
    width: 430px;
    height: auto;
}

.text-sobre {
    width: 550px;
}

.text-sobre h2 {
    color: #fff;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.text-sobre h5 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.text-sobre p {
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 15px;
    margin-bottom: 45px;
}

.button-sobre {
    background-color: green;
    color: #fff;
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
}

.button-sobre:hover {
    background-color: transparent;
    border: 2px solid green;
    cursor: pointer;
    
}

/* MEUS PROJETOS E SERVIÇOS */

.container-fluid-project {
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title-project h2 {
    color: #fff;
    font-size: 55px;
    margin: 30px auto;
    text-align: center;
}

.caixas {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.card {
    background-color: #191919;
    height: 365px;
    width: 335px;
    border: 20px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    display: block;
    text-align: center;
    margin-top: 5px;
}

.card h5 {
    color: #fff;
}

.card p {
    color: #fff;
}

.card img {
    margin-left: 35px;
    width: 80%;
    border: 20px;
    border-radius: 30px;
}

.card a button {
    background-color: green;
    color: #fff;
    text-transform: none;
    padding: 5px 5px 5px 5px;
    border: 2px solid transparent;
    border-radius: 30px;
}

.card a button:hover {
     background-color: transparent;
    border: 2px solid green;
    cursor: pointer;
}

/* FOOTER */

.me-contate {
    width: 100%;
    height: 240px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.me-contate p {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px;
}

.me-contate a button {
    background-color: green;
    color: #fff;
    text-transform: none;
    padding: 10px 10px 10px 10px;
    border: 2px solid transparent;
    border-radius: 30px;
}

.me-contate a button:hover {
    background-color: transparent;
    border: 2px solid green;
    cursor: pointer;
}

#footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer h6 {
    font-size: 35px;
    color: #fff;
}

#footer p {
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px;
}

.redes-sociais {
    display: flex;
}

.redes-sociais a {
    background-color: green;
    width: 45px;
    height: 45px;
    padding: 15px;
    border-radius: 50%;
    margin: 22px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.redes-sociais a:hover {
    transform: scale(1.2);
    transition: .3s;
}

/* RESPONSIVIDADE */

@media (min-width: 768px) {
    #about .main-sobre .col-12 {
        max-width: 50%;
    }
}